

                <!-- Brand Logo Light -->
                <a href="/user/home" class="logo logo-light">
                    <span class="logo-lg">
                        <img src="/assets/images/logo.png" alt="logo">
                    </span>
                    <span class="logo-sm">
                        <img src="/assets/images/logo-sm.png" alt="small logo">
                    </span>
                </a>

                <!-- Brand Logo Dark -->
                <a href="/user/home" class="logo logo-dark">
                    <span class="logo-lg">
                        <img src="/assets/images/logo-dark.png" alt="dark logo">
                    </span>
                    <span class="logo-sm">
                        <img src="/assets/images/logo-sm.png" alt="small logo">
                    </span>
                </a>

                <!-- Sidebar -left -->
                <div class="h-100" id="leftside-menu-container" data-simplebar>

                    <!--- Sidemenu -->
                    <ul class="side-nav">

                        <li class="side-nav-title">Marketing Portal</li>

                        <li class="side-nav-item">
                            <a href="/marketer/home" class="side-nav-link">
                                <i class="ri-dashboard-3-line"></i>
                                <span> Dashboard </span>
                            </a>
                        </li>
                        
                        <li class="side-nav-item">
                            <a href="/marketer/pipelines" class="side-nav-link">
                                <i class="ri-survey-line"></i>
                                <span class="badge bg-success float-end">9+</span>
                                <span> Pipelines </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/marketer/clients" class="side-nav-link">
                                <i class="bi bi-people-fill"></i>
                                <span> My Clients </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/marketer/reports" class="side-nav-link">
                                <i class="ri-pages-line"></i>
                                <span> Reports & KPI </span>
                            </a>
                        </li>

                    </ul>
                    <!--- End Sidemenu -->

                    <div class="clearfix"></div>
                </div>