                                        <!-- Success Alert Modal -->
                                        <div id="successAlertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content modal-filled bg-primary">
                                                    <div class="modal-body p-4">
                                                        <div class="text-center">
                                                            <i class="ri-check-line h1"></i>
                                                            <h4 class="mt-2">Successful!</h4>
                                                            <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Continue</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end success modal -->
                                        
                                        <!-- Error Alert Modal -->
                                        <div id="warningAlertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-body p-4">
                                                        <div class="text-center">
                                                            <i class="ri-alert-line h1 text-danger"></i>
                                                            <h4 class="mt-2">Error</h4>
                                                            <p class="mt-3" id="displayErrorsHere"></p>
                                                            <button type="button" class="btn btn-danger my-2" data-bs-dismiss="modal">Continue</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end errors modal -->