                    <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">App</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Reports</a></li>
                                            <li class="breadcrumb-item active">Page</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Reports & KPI</h4>
                                </div>
                            </div>
                        </div>
                    <!-- end page title -->

                    <!-- row -->
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card">

                            <div class="card-header">
                                <h4 class="header-title">Read Month Reports </h4><code>First select staff, then month to view report.</code>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="example-month" class="form-label">Select Staff</label>
                                        <select class="form-control select2" data-control="select2" data-toggle="select2" required>
                                                <option selected disabled>Select</option>
                                                <optgroup label="Marketing Team">
                                                    <% marketers.forEach(function(marketer, index){%>
                                                    <option value="<%- marketer.id %>"><%- marketer.firstname %>&nbsp;<%- marketer.surname %></option>
                                                    <%}) %>
                                                </optgroup>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="example-month" class="form-label">Select Month</label>
                                        <input class="form-control" id="example-month" type="month" name="month" required>
                                    </div>
                                        <!-- <button class="btn btn-primary" type="submit">Submit form</button> -->
                                    
                                </div> 
                            </div>
                            
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                    <!-- Success + Errors Alert Modal -->
                    <%- include('../../includes/statusModal') %>
                    <!-- Success + Errors Alert Modal -->