<!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">App</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Page</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Marketing Dashboard</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <!-- dashboard -->
                        <div class="row justify-content-center">
                            <div class="col-xxl-3 col-sm-6 col-lg-6 col-md-6">
                                <div class="card widget-flat text-bg-pink">
                                    <div class="card-body">
                                        <div class="float-end">
                                            <i class="ri-eye-line widget-icon"></i>
                                        </div>
                                        <h6 class="text-uppercase mt-0" title="Customers">Total Pipelines</h6>
                                        <h2 class="my-2">50</h2>
                                        <p class="mb-0">
                                            <span class="text-nowrap">Since join</span>
                                        </p>
                                    </div>
                                </div>
                            </div> <!-- end col-->

                            <div class="col-xxl-3 col-sm-6 col-lg-6 col-md-6">
                                <div class="card widget-flat text-bg-purple">
                                    <div class="card-body">
                                        <div class="float-end">
                                            <i class="ri-wallet-2-line widget-icon"></i>
                                        </div>
                                        <h6 class="text-uppercase mt-0" title="Customers">Total Closed</h6>
                                        <h2 class="my-2">45</h2>
                                        <p class="mb-0">
                                            <span class="badge bg-white bg-opacity-10 me-1">KPI update 85.25%</span>
                                            <span class="text-nowrap">Since join</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- end dashboard-->